<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      <%= styles %>
    </style>
  </head>
  <body>
    <div class="container">
      <div class="main-section">
        <div class="col-1">
          <div style="font-size: 40px" class="date">
            Дата осмотра: 04.12.2023
          </div>
          <div style="font-size: 103px" class="title">
            Volkswagen GolfSportsvan VII
          </div>
          <div style="font-size: 64px" class="price">69 500 PLN</div>
        </div>
        <div class="col-2">
          <div class="imageContainer">
            <img
              src="https://i.postimg.cc/Rh5Jd1VL/770f63bd3ec58dca14d9c0e9253175d07007ef01.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container block first-block">
      <div style="margin-bottom: 64px" class="h2-block h2">
        01 - Технические характеристики
      </div>
      <div class="first-block__cards">
        <div class="col-1">
          <% data.firstSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-card' && i % 2 === 0) { %>
              <%- include('partials/data-card', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-color-card' && i % 2 === 0) { %>
              <%- include('partials/data-card-color', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-comment-border' && i % 2 === 0) { %>
              <%- include('partials/data-card-comment-border', { comment: block.comment, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-additional-checkboxes' && i % 2 === 0) { %>
              <%- include('partials/data-card-additional-checkboxes', { items: block.items, labels: block.labels, heading: block.heading }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.firstSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-card' && i % 2 !== 0) { %>
              <%- include('partials/data-card', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-color-card' && i % 2 !== 0) { %>
              <%- include('partials/data-card-color', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-comment-border' && i % 2 !== 0) { %>
              <%- include('partials/data-card-comment-border', { comment: block.comment, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-additional-checkboxes' && i % 2 !== 0) { %>
              <%- include('partials/data-card-additional-checkboxes', { items: block.items, labels: block.labels, heading: block.heading }) %>
            <% } %>
          <% }) %>
          </div>
      </div>
    </div>
    <div class="container block second-block">
      <div style="margin-bottom: 64px" class="h2-block h2">
        02 - Проверка уровня жидкости
      </div>
      <div class="second-block__cards">
        <div class="col-1">
          <% data.secondSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-check-card' && i % 2 === 0) { %>
              <%- include('partials/data-check-card', { title: block.title, state: block.state, comment: block.comment, additionalData: block.additionalData, imageUrl: block.imageUrl }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.secondSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-check-card' && i % 2 !== 0) { %>
              <%- include('partials/data-check-card', { title: block.title, state: block.state, comment: block.comment, additionalData: block.additionalData, imageUrl: block.imageUrl }) %>
            <% } %>
          <% }) %></div>
      </div>
    </div>

  </body>
</html>
