<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      <%= styles %>
    </style>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <img src="https://i.postimg.cc/x8Ds97Fh/Logo-3.png" alt="">
        <div class="label">Осмотрено с помощью AR Group</div>
      </div>
    </div>
    <div class="container">
      <div class="main-section">
        <div class="col-1">
          <div style="font-size: 40px" class="date">
            Дата осмотра: 04.12.2023
          </div>
          <div style="font-size: 103px" class="title">
            Volkswagen GolfSportsvan VII
          </div>
          <div style="font-size: 64px" class="price">69 500 PLN</div>
        </div>
        <div class="col-2">
          <div class="imageContainer">
            <img
              src="https://i.postimg.cc/Rh5Jd1VL/770f63bd3ec58dca14d9c0e9253175d07007ef01.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container block first-block">
      <div style="margin-bottom: 64px" class="h2-block h2">
        01 - Технические характеристики
      </div>
      <div class="first-block__cards">
        <div class="col-1">
          <% data.firstSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-card' && i % 2 === 0) { %>
              <%- include('partials/data-card', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-color-card' && i % 2 === 0) { %>
              <%- include('partials/data-card-color', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-comment-border' && i % 2 === 0) { %>
              <%- include('partials/data-card-comment-border', { comment: block.comment, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-additional-checkboxes' && i % 2 === 0) { %>
              <%- include('partials/data-card-additional-checkboxes', { items: block.items, labels: block.labels, heading: block.heading }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.firstSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-card' && i % 2 !== 0) { %>
              <%- include('partials/data-card', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-color-card' && i % 2 !== 0) { %>
              <%- include('partials/data-card-color', { items: block.items, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-comment-border' && i % 2 !== 0) { %>
              <%- include('partials/data-card-comment-border', { comment: block.comment, heading: block.heading }) %>
            <% } %>
            <% if (block.slug === 'data-card-additional-checkboxes' && i % 2 !== 0) { %>
              <%- include('partials/data-card-additional-checkboxes', { items: block.items, labels: block.labels, heading: block.heading }) %>
            <% } %>
          <% }) %>
          </div>
      </div>
    </div>
    <div class="container block second-block">
      <div style="margin-bottom: 64px" class="h2-block h2">
        02 - Проверка уровня жидкости
      </div>
      <div class="second-block__cards">
        <div class="col-1">
          <% data.secondSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-check-card' && i % 2 === 0) { %>
              <%- include('partials/data-check-card', { title: block.title, state: block.state, comment: block.comment, additionalData: block.additionalData, imageUrl: block.imageUrl }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.secondSection.items.forEach((block,i) => { %>
            <% if (block.slug === 'data-check-card' && i % 2 !== 0) { %>
              <%- include('partials/data-check-card', { title: block.title, state: block.state, comment: block.comment, additionalData: block.additionalData, imageUrl: block.imageUrl }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
      <div style="margin-bottom: 40px" class="h2-block h2">
        <div> 03 - Холодный запуск </div>
        <% if (data.thirdSection.state === 'success') { %>
          <div style="margin-left: 24px;" class="badge success">В норме</div>
        <% } %>
        <% if (data.thirdSection.state === 'error') { %>
          <div style="margin-left: 24px;" class="badge error">Не в норме</div>
        <% } %>
        <div style="margin-left: auto;" class="video-button">
           Перейти к просмотру видео
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2H24M24 2V24M24 2L2 24" stroke="#FEFEFE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
      <div class="card-comment" style="background-color: #FEFEFE;">
        <div class="card-comment__title"><%= data.thirdSection.comment.label %></div>
        <div class="card-comment__desc"><%= data.thirdSection.comment.desc %></div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block fourth-block">
      <div style="margin-bottom: 40px" class="h2-block h2">
        <div> 04 - Фото экстерьера </div>
      </div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <% data.fourthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.fourthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block fourth-block">
      <div style="margin-bottom: 40px" class="h2-block h2">
        <div> 05 - Фото колес </div>
      </div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <% data.fifthSection.items.forEach((block,i) => { %>
              <%- include('partials/data-card', { heading: block.heading, items: block.items, comment: block.comment || null,images: block.images || null }) %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.fourthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block fourth-block">
      <div style="margin-bottom: 40px" class="h2-block h2">
        <div> 06 - Повреждения </div>
      </div>
      <div style="margin-bottom: 60px;margin-top: 60px;" class="h2-block h2">
        <div> Повреждения передней части </div>
      </div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.items.forEach((block,i) => { %>
              <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
         <div class="left-damage-image">
          <img src="<%= data.sixthSection.carImage %>" alt="">
         </div>
        </div>
      </div>
      <div style="width: 100%; height: 1px; background-color: #B3B3B3;margin-top: 60px; margin-bottom: 60px;"></div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.imagesComments.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
            <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% data.sixthSection.imagesComments.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
            <% } %>
            <% }) %>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 60px; margin-top: 60px;" class="h2-block h2">
        <div> Повреждения Правой стороны </div>
      </div>
      <div style="width: 100%;" class="">
        <div class="center-damage-image">
          <img src="<%= data.sixthSection.rightSide.carImage %>" alt="">
         </div>  
      </div>
      <div class="fourth-block__cards ">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.rightSide.items.forEach((block,i) => { %>
              <% if (i % 2 === 0) { %>
                <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% data.sixthSection.rightSide.items.forEach((block,i) => { %>
              <% if (i % 2 !== 0) { %>
                <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
      <div style="width: 100%; height: 1px; background-color: #B3B3B3;margin-top: 60px; margin-bottom: 60px;"></div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.rightSide.imagesComments.forEach((block,i) => { %>
              <% if (i % 2 === 0) { %>
                <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% data.sixthSection.rightSide.imagesComments.forEach((block,i) => { %>
              <% if (i % 2 !== 0) { %>
                <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 60px; margin-top: 60px;" class="h2-block h2">
        <div> Повреждения левой стороны </div>
      </div>
      <div style="width: 100%;" class="">
        <div class="center-damage-image">
          <img src="<%= data.sixthSection.leftSide.carImage %>" alt="">
         </div>  
      </div>
      <div class="fourth-block__cards ">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.leftSide.items.forEach((block,i) => { %>
              <% if (i % 2 === 0) { %>
                <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% data.sixthSection.leftSide.items.forEach((block,i) => { %>
              <% if (i % 2 !== 0) { %>
                <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
      <div style="width: 100%; height: 1px; background-color: #B3B3B3;margin-top: 60px; margin-bottom: 60px;"></div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.leftSide.imagesComments.forEach((block,i) => { %>
              <% if (i % 2 === 0) { %>
                <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% data.sixthSection.leftSide.imagesComments.forEach((block,i) => { %>
              <% if (i % 2 !== 0) { %>
                <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 60px;margin-top: 60px;" class="h2-block h2">
        <div> Повреждения задней части </div>
      </div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.items.forEach((block,i) => { %>
              <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
         <div class="left-damage-image">
          <img src="<%= data.sixthSection.carImage %>" alt="">
         </div>
        </div>
      </div>
      <div style="width: 100%; height: 1px; background-color: #B3B3B3;margin-top: 60px; margin-bottom: 60px;"></div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.imagesComments.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
            <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% data.sixthSection.imagesComments.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
            <% } %>
            <% }) %>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 60px; margin-top: 60px;" class="h2-block h2">
        <div> Повреждение крыши </div>
      </div>
      <div style="width: 100%;" class="">
        <div class="center-damage-image">
          <img src="<%= data.sixthSection.topSide.carImage %>" alt="">
         </div>  
      </div>
      <div style="margin-top: 42px;" class="fourth-block__cards ">
        <div class="col-1">
          <div class="damage-cards">
            <% data.sixthSection.topSide.items.forEach((block,i) => { %>
              <% if (i % 2 === 0) { %>
                <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% data.sixthSection.topSide.items.forEach((block,i) => { %>
              <% if (i % 2 !== 0) { %>
                <%- include('partials/damage-card', { number: block.number, label: block.label, badgeLabel: block.badgeLabel, badgeState: block.badgeState }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="fourth-block__cards">
        <div class="col-1">
          <div class="damage-cards">
            <% typeof data.sixthSection.topSide.imagesComments !== 'undefined' && data.sixthSection.topSide.imagesComments.forEach((block,i) => { %>
              <% if (i % 2 === 0) { %>
                <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
        <div class="col-2">
          <div class="damage-cards">
            <% typeof data.sixthSection.topSide.imagesComments !== 'undefined' && data.sixthSection.topSide.imagesComments.forEach((block,i) => { %>
              <% if (i % 2 !== 0) { %>
                <%- include('partials/data-card', { heading: block.heading, imagesComments: block.imagesComments }) %>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 07 - Замер ЛКП </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.seventhSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.seventhSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 08 - Фото интерьера </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.eighthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.eighthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 09 - Багажное отделение </div>
          <% if (typeof data.ninthSection.state !== 'undefined' && data.ninthSection.state === 'success') { %>
          <div style="margin-left: 24px;" class="badge success">В норме</div>
        <% } %>
        <% if (typeof data.ninthSection.state !== 'undefined' && data.ninthSection.state === 'error') { %>
          <div style="margin-left: 24px;" class="badge error">Не в норме</div>
        <% } %>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.ninthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.ninthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 10 - Повреждение салона </div>
          <% if (typeof data.tenthSection.state !== 'undefined' && data.tenthSection.state === 'success') { %>
          <div style="margin-left: 24px;" class="badge success">В норме</div>
        <% } %>
        <% if (typeof data.tenthSection.state !== 'undefined' && data.tenthSection.state === 'error') { %>
          <div style="margin-left: 24px;" class="badge error">Не в норме</div>
        <% } %>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.tenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.tenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 11 - Проверка системы безопасности </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.eleventhSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.eleventhSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 12 - Незаведённый двигатель </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.twelfthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.twelfthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 13 - Заведённый двигатель </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.thirteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.thirteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 14 - Осмотр тормозной системы </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.fourteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/data-check-card', { imageUrl:block.imageUrl,items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.fourteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/data-check-card', { imageUrl:block.imageUrl, items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 15 - Осмотр подвески </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.fifteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.fifteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 16 - Функционал салона </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.sixteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.sixteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 17 - Компьютерная диагностика </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.seventeenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.seventeenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 18 - Тест драйв </div>
        </div>
        <% if (typeof data.eighteenthSection.state !== 'undefined' && data.eighteenthSection.state === 'completed') { %>
        <div style="margin-bottom: 40px" class="h2-block h2 completed">
          <div> Пройден тест драйв </div>
        </div>
        <% } %>
        <% if (typeof data.eighteenthSection.state !== 'undefined' && data.eighteenthSection.state === 'error') { %>
        <div style="margin-bottom: 40px" class="h2-block h2 error">
          <div> Не пройден тест драйв </div>
        </div>
        <% } %>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.eighteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.eighteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px;" class="container block third-block">
        <div style="margin-bottom: 40px" class="h2-block h2">
          <div> 19 - Документация </div>
        </div>
        <div class="fourth-block__cards">
        <div class="col-1">
          <% data.nineteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 === 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
        <div class="col-2">
          <% data.nineteenthSection.items.forEach((block,i) => { %>
            <% if (i % 2 !== 0) { %>
              <%- include('partials/card-images', { items: block.items, title: block.title, state: block.state, images: block.images, comment: block.comment || null, linkButton: block.linkButton || undefined, checkList: block.checkList || undefined }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
